<div class="bg-light">
        <section class="hidden">
            <h2>My Favorite Trails</h2>
            <div class="card-deck">
                <div class="card" id={{id}}>                    
                        <img class="trail-img img-thumbnail" src={{image_link}} alt="Card image cap">
                        <button class='complete-btn btn btn-success'>Complete</button>
                        <button class='remove-btn btn btn-danger'>Remove</button>
                    
                  <div class="card-body">
                    <h5 class="card-title trail-name">{{name}}</h5>
                    <p class="card-text place">{{location}}</p>
                    <label for="" class="difficulty-level">{{difficulty_level}}</label>
                    <p class="distance">Length : {{length}} </p>
                  </div>
                </div>      
              </div>
        </section>

        <section>
            <h2>All Trails</h2>
            <div class="card-deck">
              {{#each cards}}
                <div class="card" id={{id}}>                    
                        <img class="trail-img img-thumbnail" src={{image_link}} alt="Card image cap">
                        <button class='complete-btn btn btn-success'>Complete</button>
                        <button class='remove-btn btn btn-danger'>Add</button>
                    
                  <div class="card-body">
                    <h5 class="card-title trail-name">{{name}}</h5>
                    <p class="card-text place">{{location}}</p>
                    <label for="" class="difficulty-level">{{difficulty_level}}</label>
                    <p class="distance">Length : {{length}} </p>
                  </div>
                </div>
              {{/each}}                 
            </div>
          </section>
</div>
